/*
	This file is designed to only contain .LESS mix-ins. 
	No other CSS should make it into this file; if it's not 
	a .LESS function, it doesn't belong here.
*/
/* 
	Overload for applying multiple shadows to an element.
	E.g.: .box-shadow(1px 1px #FFF, inset -1px -1px #FFF);
*/
.select-popup {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #AAA;
  background-color: #FFF;
  line-height: 20px;
  z-index: 1073741823;
  text-align: left;
  margin-top: -1px;
  overflow: auto;
  top: 0px;
  /* Stop page from overflowing when the control is created. */

}
.select-popup.above {
  -webkit-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
}
.select-popup.below {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.select-popup.over {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.select-popup > ul {
  padding: 4px 0px;
  max-height: 120px;
}
.select-popup > ul li.current a,
.select-popup > ul li.current label {
  background-color: #F5F5F5;
}
.select-popup > ul input[disabled] + span,
.select-popup > ul .disabled {
  color: #999;
}
.select-popup > ul a {
  display: block;
  text-decoration: none;
  color: #333;
  outline: none;
}
.select-popup ul {
  margin: 0px;
  padding: 0px;
}
.select-popup ul li {
  list-style: none;
  overflow: auto;
}
.select-popup ul li a,
.select-popup ul li span,
.select-popup ul li label {
  padding: 0px 4px;
}
.select-popup ul li label {
  display: block;
  font-weight: normal;
}
.select-popup ul li label:not(.disabled) {
  cursor: pointer;
}
.select-popup ul li > span {
  cursor: default;
}
.select-popup ul li input[type="checkbox"] {
  vertical-align: middle;
  margin: 0px;
  outline: none;
}
.select-popup .select-group-title {
  font-weight: bold;
}
input[disabled] + .select-display,
select[disabled] + .select-display,
textarea[disabled] + .select-display {
  border-color: #CCC;
}
input[disabled] + .select-display .select-button,
select[disabled] + .select-display .select-button,
textarea[disabled] + .select-display .select-button {
  opacity: 0.5;
  cursor: default;
}
input[disabled] + .select-display > .select-text,
select[disabled] + .select-display > .select-text,
textarea[disabled] + .select-display > .select-text {
  color: #AAA;
  cursor: default;
}
input[readonly] + .select-display .select-button,
select[readonly] + .select-display .select-button,
textarea[readonly] + .select-display .select-button {
  display: none;
  cursor: auto;
}
input[readonly] + .select-display > .select-text,
select[readonly] + .select-display > .select-text,
textarea[readonly] + .select-display > .select-text {
  cursor: auto;
}
.select-display {
  display: inline-block;
  outline: none;
  position: relative;
  border: 1px solid #AAA;
}
.select-display:focus {
  border-color: #5CA9E4;
}
.select-display > .select-text {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  line-height: 16px;
  min-height: 16px;
  /* Stop IE10 from picking sub-pixel values by setting a round number ourselves. */

  display: inline-block;
  min-width: 133px;
  text-align: left;
  padding: 1px 24px 1px 2px;
  margin: 0px;
  vertical-align: middle;
  outline: none;
  background-color: transparent;
  /* for text inputs, which usually have a white background. */

}
.select-display > .select-text:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.select-display > span.select-text {
  cursor: pointer;
}
.select-display .select-button {
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  position: absolute;
  cursor: pointer;
  right: 4px;
  top: 50%;
  margin-top: -8px;
  display: inline-block;
  height: 16px;
  width: 16px;
  z-index: 5000;
  /* Fixes a Chrome issue when elements float to the right of this element. */

  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH3QMWDxotrgg2UQAAAPBJREFUSMftVDGOgzAQHBvc8xc3PIIr/AL7afYLXCTf8BNcQEHFD5DZFBEkcSDkRHM6MZKLkT2za2l2GRHhCDgO4h8YlM/EOXcB0Oxorlrrn1UDAI2UEkIICCEwjiPKskRVVRBCAAC8983mF4wxLITwuOQcRVEs3HsPYwx7KUlEy5lhraUYI8UYqes6GoaBrLW0qlkzmE3atqW+71/EuQH7lETnHAGA1pptvWFnlI8bnNiBtfYtxr8Sb83CV+JP07i5kWZxXdcAgJQSOL9HRSkFAJTvA56LpZQLn6YJKaWFK6WQd5J3cA0h7O7EM15/DTfgNabJMCO4QAAAAABJRU5ErkJggg==) no-repeat 0px 0px;
}
.select-display.select-visible .select-button:not(ie8) {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  background-position: 0px 0px;
}
.select-display.select-visible .select-button {
  background-position: 0px -16px;
}
.select-popup ul li.none a,
.select-popup ul li.none span,
.select-display .none {
  color: #999;
}
.select-date {
  background-color: #FFF;
}
.select-date a {
  outline: none;
}
.select-date .months,
.select-date .days,
.select-date .years {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 33%;
  display: inline-block;
  margin: 0px;
  white-space: nowrap;
}
.select-date .months a,
.select-date .days a,
.select-date .years a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333;
}
.select-date .months a.up,
.select-date .days a.up,
.select-date .years a.up,
.select-date .months a.down,
.select-date .days a.down,
.select-date .years a.down {
  background-color: #F9F9F9;
}
.select-date .months a.up:after,
.select-date .days a.up:after,
.select-date .years a.up:after,
.select-date .months a.down:after,
.select-date .days a.down:after,
.select-date .years a.down:after {
  content: '';
}
.select-date .months a.up:hover,
.select-date .days a.up:hover,
.select-date .years a.up:hover,
.select-date .months a.down:hover,
.select-date .days a.down:hover,
.select-date .years a.down:hover {
  background-color: #EEE;
}
.select-date .months a.up:active,
.select-date .days a.up:active,
.select-date .years a.up:active,
.select-date .months a.down:active,
.select-date .days a.down:active,
.select-date .years a.down:active {
  background-color: #DDD;
}
.select-date .months a.up,
.select-date .days a.up,
.select-date .years a.up {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.select-date .months a.up:after,
.select-date .days a.up:after,
.select-date .years a.up:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 0px;
  width: 0px;
  min-width: 0px;
  line-height: 0px;
  border: 6px solid transparent;
  border-bottom-color: #808183;
  border-top-width: 0px;
}
.select-date .months a.up:hover:after,
.select-date .days a.up:hover:after,
.select-date .years a.up:hover:after {
  border-bottom-color: #5599FF;
}
.select-date .months a.up:active:after,
.select-date .days a.up:active:after,
.select-date .years a.up:active:after {
  border-bottom-color: #3377DD;
}
.select-date .months a.down,
.select-date .days a.down,
.select-date .years a.down {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.select-date .months a.down:after,
.select-date .days a.down:after,
.select-date .years a.down:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 0px;
  width: 0px;
  min-width: 0px;
  line-height: 0px;
  border: 6px solid transparent;
  border-top-color: #808183;
  border-bottom-width: 0px;
}
.select-date .months a.down:hover:after,
.select-date .days a.down:hover:after,
.select-date .years a.down:hover:after {
  border-top-color: #5599FF;
}
.select-date .months a.down:active:after,
.select-date .days a.down:active:after,
.select-date .years a.down:active:after {
  border-top-color: #3377DD;
}
.select-date .months a.previous span,
.select-date .days a.previous span,
.select-date .years a.previous span,
.select-date .months a.next span,
.select-date .days a.next span,
.select-date .years a.next span,
.select-date .months a.selected span,
.select-date .days a.selected span,
.select-date .years a.selected span {
  display: block;
  padding: 2px 0px;
  margin: 0px 2px;
}
.select-date .months a.previous.current span,
.select-date .days a.previous.current span,
.select-date .years a.previous.current span,
.select-date .months a.next.current span,
.select-date .days a.next.current span,
.select-date .years a.next.current span,
.select-date .months a.selected.current span,
.select-date .days a.selected.current span,
.select-date .years a.selected.current span {
  background-color: #F5F9FF;
}
.select-date .months a.previous:hover span,
.select-date .days a.previous:hover span,
.select-date .years a.previous:hover span,
.select-date .months a.next:hover span,
.select-date .days a.next:hover span,
.select-date .years a.next:hover span,
.select-date .months a.selected:hover span,
.select-date .days a.selected:hover span,
.select-date .years a.selected:hover span {
  color: #3377DD;
  background-color: #EEE;
}
.select-date .months a.previous:active span,
.select-date .days a.previous:active span,
.select-date .years a.previous:active span,
.select-date .months a.next:active span,
.select-date .days a.next:active span,
.select-date .years a.next:active span,
.select-date .months a.selected:active span,
.select-date .days a.selected:active span,
.select-date .years a.selected:active span {
  background-color: #DDD;
}
.select-date .months a.previous,
.select-date .days a.previous,
.select-date .years a.previous,
.select-date .months a.next,
.select-date .days a.next,
.select-date .years a.next {
  color: #999;
}
.select-date .months a.previous span,
.select-date .days a.previous span,
.select-date .years a.previous span,
.select-date .months a.next span,
.select-date .days a.next span,
.select-date .years a.next span {
  display: block;
  padding: 2px 0px;
}
.select-date .months a.selected span,
.select-date .days a.selected span,
.select-date .years a.selected span {
  border-top: solid 1px #5599FF;
  border-bottom: solid 1px #5599FF;
}
.select-date .months {
  width: 34%;
}
.select-date .months .up,
.select-date .months .down {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.select-date .days a.previous span,
.select-date .days a.next span,
.select-date .days a.selected span {
  margin-left: 4px;
}
.select-date .years a.previous span,
.select-date .years a.next span,
.select-date .years a.selected span {
  margin-right: 4px;
}
.select-date .today,
.select-date .clear {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 2px 0px;
  color: #333;
  background-color: #F9F9F9;
}
.select-date .today:before,
.select-date .clear:before,
.select-date .today:after,
.select-date .clear:after {
  content: '';
  display: table;
}
.select-date .today:after,
.select-date .clear:after {
  clear: both;
}
.select-date .today:hover,
.select-date .clear:hover {
  color: #3377DD;
  background-color: #EEE;
}
.select-date .today:active,
.select-date .clear:active {
  background-color: #DDD;
}
