@import "mixins.less";

.select-popup
{
    .box-sizing(content-box);
    border: 1px solid #AAA;
    background-color: #FFF;
    line-height: 20px;
    z-index: 1073741823;
    text-align: left;
    margin-top: -1px;
    overflow: auto;
    top: 0px; /* Stop page from overflowing when the control is created. */

    &.above
    {
        .box-shadow(0px -1px 4px rgba(0, 0, 0, 0.25));
    }

    &.below
    {
        .box-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
    }

    &.over
    {
        .box-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    }

    > ul
    {
        padding: 4px 0px;
        max-height: 118px;

        > li
        {
            padding: 0px 4px;
        }

        a
        {
            display: block;
            text-decoration: none;
            color: #333;
            outline: none;

            &:hover
            {
                background-color: #F5F5F5;
            }
        }
    }

    ul
    {
        margin: 0px;
        padding: 0px;

        li
        {
            list-style: none;
            overflow: auto;

            label
            {
                display: block;
                font-weight: normal;

                &:hover
                {
                    background-color: #F5F5F5;
                }
            }

            span
            {
                cursor: default;
            }

            input[type="checkbox"]
            {
                vertical-align: middle;
                margin: 0px 6px 0px 3px;
                outline: none;
            }
        }
    }    

    .select-group-title
    {
        font-weight: bold;
    }
}

.select-display
{
    .user-select(none);

	display: inline-block;
	outline: none;
	position: relative;
	border: 1px solid #AAA;

	&:focus
	{
		border-color: #5CA9E4;
	}
	
	> .select-text
	{
        .box-shadow(none);

		border: none;
		line-height: 16px; /* Stop IE10 from picking sub-pixel values by setting a round number ourselves. */
		min-height: 16px; /* Stop IE10 from picking sub-pixel values by setting a round number ourselves. */
		display: inline-block;
		min-width: 126px;
		text-align: left;
		padding: 1px 24px 1px 2px;
		margin: 0px;
		vertical-align: middle;
		outline: none;
		background-color: transparent;	/* for text inputs, which usually have a white background. */
				
		&:focus
		{
            .box-shadow(none);

			outline: none;
		}
	}
	
	> span.select-text
	{
		cursor: pointer;
	}
	
	.select-button
	{
		.transition(all 0.15s linear);
        
        position: absolute;
		cursor: pointer;
		right: 4px;
		top: 50%;
		margin-top: -8px;
		display: inline-block;
		height: 16px;
		width: 16px;
		z-index: 50000; /* Fixes a Chrome issue when elements float to the right of this element. */
		background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH3QMWDxotrgg2UQAAAPBJREFUSMftVDGOgzAQHBvc8xc3PIIr/AL7afYLXCTf8BNcQEHFD5DZFBEkcSDkRHM6MZKLkT2za2l2GRHhCDgO4h8YlM/EOXcB0Oxorlrrn1UDAI2UEkIICCEwjiPKskRVVRBCAAC8983mF4wxLITwuOQcRVEs3HsPYwx7KUlEy5lhraUYI8UYqes6GoaBrLW0qlkzmE3atqW+71/EuQH7lETnHAGA1pptvWFnlI8bnNiBtfYtxr8Sb83CV+JP07i5kWZxXdcAgJQSOL9HRSkFAJTvA56LpZQLn6YJKaWFK6WQd5J3cA0h7O7EM15/DTfgNabJMCO4QAAAAABJRU5ErkJggg==) no-repeat 0px 0px;
	}
	
	&.select-visible .select-button:not(ie8)
	{
		.transform(rotate(-180deg));

		background-position: 0px 0px;
	}
	
	&.select-visible .select-button
	{
		background-position: 0px -16px;
	}
}

.select-popup ul li.none a,
.select-display .none
{
	color: #999;
}

.select-date
{
    > div
    {
        text-align: center;
        margin: 2px;
        font-weight: bold;
        cursor: default;
    }

    table
    {
        width: 100%;
        border-collapse: collapse;
    }

    thead
    {
        color: #FFF;
        background-color: #333;
    }

    td,
    th
    {
        line-height: 18px;
        padding: 0;
    }

    td
    {
        width: 14.2857%;
        cursor: pointer;

        &.weekend
        {
            color: #333;
            background-color: #F5F5FF;
        }

        &.prev-month,
        &.next-month
        {
            color: #999;
            background-color: #EEE;
        }

        &.today
        {
            .border-radius(4px);
            background-color: #449900;
            color: #FFF;
        }

        &.selected
        {
            .border-radius(4px);
            background-color: #3377FF;
            color: #FFF;
        }

        &:hover
        {
            .border-radius(4px);
            background-color: #5599FF;
            color: #FFF;
        }
    }

    td,
    th,
    > div a
    {
        .user-select(none);
        text-align: center;
    }

    > div a
    {
        .border-radius(4px);
        font-size: 16px;
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #333;
        text-decoration: none;

        &.prev
        {
            float: left;
        }

        &.next
        {
            float: right;
        }

        &:hover
        {
            background-color: #5599FF;
            color: #FFF;
        }
    }
}








