html {
  font-family: Arial;
  font-size: 12px;
  color: #333;
}
body {
  padding-bottom: 400px;
}
select,
textarea,
input[type="text"] {
  font-size: 12px;
  margin: 0px;
  min-width: 156px;
}
h1,
h2,
h3,
h4 {
  font-family: Calibri, Verdana, Arial;
  padding: 4px 8px;
  text-transform: uppercase;
  margin: 0px 0px 16px 0px;
  border-radius: 4px;
  clear: both;
}
h1 {
  font-size: 18px;
  color: #FFF;
  background-color: #4F81BD;
}
h2 {
  font-size: 16px;
  color: #FFF;
  background-color: #6FA1DD;
}
h3,
h4 {
  font-size: 14px;
  color: #243F60;
  background-color: #EBF5FF;
  border: solid 1px #6FA1DD;
  margin: 0px 0px 12px 0px;
}
p {
  margin: 16px 0px;
}
.box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 16px;
  padding: 0px;
  border: solid 1px #CCC;
  margin: 16px 0px;
  border-radius: 4px;
  background-color: #FFF;
}
.box > h1:first-child,
.box h2:first-child,
.box h3:first-child,
.box h4:first-child {
  border-radius: 4px 4px 0px 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #CCC;
}
.box p {
  margin: 8px;
}
.box > p > label,
.box > p > label > span:first-child {
  cursor: pointer;
  font-weight: bold;
  display: block;
  min-width: 160px;
  margin: 0px 0px 4px 0px;
}
form .box {
  margin: 16px;
  width: 300px;
  min-height: 140px;
  float: left;
}
.button {
  background-color: #EEE;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 8px;
  color: #333;
  text-decoration: none;
  margin: 4px;
  border: 1px solid #999;
}
.button:hover {
  background-color: #CCC;
}
.button:active {
  background-color: #999;
}
